@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    word-spacing: 1px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    height: 100vh;
}


/* =============================================LEFT HALF==================================================== */

.leftHalf {
    background-color: #1992D4;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 7fr;
    gap: 2%;
    align-items: center;
    padding-left: 15px;
    color: white;
}

.settingsContainer {
    align-self: start;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 10%;
    margin-left: 10px;
}

.ico-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 8%;
    align-items: center;
}

.icon-main {
    width: 30px;
    height: 35px;
}

.icon {
    justify-self: start;
    font-size: 1.5rem;
    font-weight: bold;
}

.text{
    margin-bottom: 4%;
    font-size: 1.1rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

.settingsContainer img {
    width: 15px;
    height: 15px;
}


/* =============================================RIGHT HALF==================================================== */

.rightHalf {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.firstSection {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0% 4%;
}

.profileSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

img.search {
    width: 15px;
    height: 15px;
}

img.notification {
    width: 20px;
    height: 20px;
}

img.display-picture {
    width: 45px;
    height: 45px;
}

.searchbar {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
}

.search {
    justify-self: center;
}

input[type="search"] {
    width: 90%;
    height: 28px;
    background-color: #E2E8F0;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 0% 2%;
    font-size: 0.9rem;
}


.profilePic {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    font-weight: bold;
}

.notification {
    justify-self: right;
}

.display-picture {
    justify-self: center;
}

.greetingsSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
}

.greetings {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    margin-left: 15px;
}

.greetings .display-picture {
    justify-self: start;
    width: 60px;
    height: 60px;
}

.greetingsText {
    font-size: 0.7rem;
    font-weight: bold;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    padding: 10px 100px;
}

button {
    background-color: #1992D4;
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 20px;
    transition: ease-in-out .4s;
    cursor: pointer;
}


button:hover {
    transform: translateY(-6px);
}
 
/* ==============================================SECOND SECTION============================================================= */

